.navBar {
    width: 100%;
    height: 4vh;
    background-color: rgb(122, 6, 199);
}

body, html {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: 10vh;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 280%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 45%;
    height: 86vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results-container {
    width: 20%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    top: 25pt;
    border-radius: 15pt;
}

.formBox {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(122, 6, 199);
    color: white;
    position: relative;
    top: 20pt;
    padding: 10pt;
    border-radius: 15pt;
}

.formName, .result-title {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}

.formName {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.formInput {
    display: block;
    border-radius: 15pt;
    width: 90%;
    height: 70%;
    border: 5px solid rgb(198, 116, 245);
    outline: none;
    transition: all 0.3s ease;
    caret-color: black;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    padding: 10pt;
    overflow-y: auto;
    overflow-x: hidden; 
}

.formInput:focus {
    border-color: rgb(97, 6, 97);
    box-shadow: 0 0 5px rgba(140, 2, 145, 0.5);
}

.formButton {
    margin-top: 10pt;
    margin-bottom: 10pt;
    border-radius: 5pt;
    font-size: 125%;
    width: 100pt;
    border: none;
    outline: none;
    height: 45pt;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    background-color: #da0f8c;
}

.formButton:hover {
    background-color: #a1156c;
}

.result-text {
    font-family: "Rubik", sans-serif;
    font-style: normal;
}
